.bsort {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
background: linear-gradient(to top, #fbff00, #fcff51);
padding-top:50px;
padding-bottom: 50px;
}
.bsort-element {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px 30px 30px 30px;
    border-radius: 30px;
    text-align: center;
}
.bsort-element_awrapper {
    
}
.bsort-img_wrapper {
}
.bsort-img {
    width: 25vw;
}
.bsort-text_wrapper {
    background-color: #fff5bb;
    border-radius: 10px;
    padding: 1px;
}
.bsort-text {
    color: #ffe100;
    font-size: 2.9vw;
    margin-bottom: 0;
}
.bsort-subtext {
    color: #ffae00;
}
.bsort-element.bs1 {
    background-color: #ffcc00;
}
.bsort-element.bs2 {
    background-color: #ff4646;
}
.bsort-text_wrapper.bs1 {
    background-color: #ffe32a;
}
.bsort-text_wrapper.bs2 {
    background-color: #ff1f1f;
}
.bsort-text.bs1 {
    color: #ffffff;
}
.bsort-subtext.bs1 {
    color: #fff4dd;
}
.bsort-text.bs2 {
    color: #ffffff;
}
.bsort-subtext.bs2 {
    color: #ffffff;
}
/*  */
.bsize {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
background: linear-gradient(to bottom, #fbff00, #fcff51);
}
.bsize-img {
    width: 70vw;
}
.bsize-text_wrapper {
    display: flex;
    align-items: center;    
    margin-left: 20px;
}
.bsize-text {
    font-size: 70px;
}