.ktypes {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #ff9142, #fa622a);
}
.ktypes-text_wrapper {
    text-align: center;
}
.ktypes-text {
    font-size: 70px;
}
.ktypes-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ktypes-element_wrapper {
    text-align: center;
}
.ktypes-img_wrapper {
    background-color: #fa2525; 
    border-radius: 30px;
}
.ktypes-img_wrapper:hover {
    transition: 2s;
    background-color: #a72020; 
}
.ktypes-element_awrapper {
    min-width: 40vw;
}
.ktypes-img {
    height: 60vh;

}
.ktypes-type {
    color: white;
    font-size: 40px;
}
.ktypes-cost {
    font-size: 30px;
    color: rgb(255, 163, 163);
}
.ksize {
    background: linear-gradient(to bottom, #ff9142, #f77518);
    display: flex;
    flex-direction: row;
}
.ksize-text {
    margin: 0;
    font-size: 3vw;
    margin-left: 40px;
}
.ksize-text_wrapper {
    display: flex;
    align-items: center;
}
.ksize-img {
    width: 70vw;
}
/*  */
.knewgen {
background: linear-gradient(to top, #f67969, #f63838);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 40px;
}
.knewgen-img_wrapper {
    background-color: #e58686;
    border-radius: 20px;
}
.knewgen-img {
    width: 400px;
}
.knewgen-rightsec {
    margin-left: 40px;
    text-align: center;
}
.knewgen-subimgs_wrapper {
    background-color: #ff7d7d;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
.knewgen-rightimg {
    width: 200px;
}
.knewgen-text {
    font-size: 3.5vw;
    margin-bottom: 0;
}
.knewgen-subtext {
    color: white;
    font-size: 1.9vw;
    background-color: #fff;
    color: #ff6161;
}